.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 4rem auto;
}

.intro > p {
  font-size: 1em;
}

.intro > img {
  border-radius: 50%;
  width: 20%;
  height: auto;
  box-shadow: 0px 0px 34px 0 rgba(255, 0, 0, 1);
}
.intro > h4 {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .intro {
    display: block;
    text-align: center;
  }

  .intro > img {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .intro > img {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .intro > img {
    width: 50%;
  }

  .intro > p {
    font-size: 20px;
  }
}
