#techs .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;
  text-align: center;
}

#techs .logos > * :first-child {
  padding: 1rem 1rem;
  font-size: 5rem;
  border-radius: 12px;
  box-shadow: 0px 0px 18px 5px rgba(255, 0, 0, 0.7);
  transition: 0.3s;
}

#techs .logos > :nth-child(1) :first-child {
  color: #0064a5;
}

#techs .logos > :nth-child(2) :first-child {
  color: #3c873a;
}
#techs .logos > :nth-child(3) :first-child {
  color: #e535ab;
}
#techs .logos > :nth-child(4) :first-child {
  color: #61dbfb;
}
#techs .logos > :nth-child(5) :first-child {
  color: #e34c26;
}
#techs .logos > :nth-child(6) :first-child {
  color: #264de4;
}

#techs .logos > * > :first-child:hover {
  box-shadow: 0px 0px 38px 12px rgba(255, 0, 0, 0.7);
  transition: 0.3s;
}

@media screen and (max-width: 560px) {
  #techs .logos > * :first-child {
    font-size: 3rem;
    box-shadow: 0px 0px 8px 3px rgba(255, 0, 0, 0.7);
  }
}

@media screen and (max-width: 430px) {
  #techs .logos > * :first-child {
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
  }

  #techs .logos > * > p {
    font-size: 12px;
  }
}

@media screen and (max-width: 200px) {
  #techs .logos > * :first-child {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
  }

  #techs .logos > * > p {
    font-size: 12px;
    color: yellow;
  }
}
