body {
  margin: 0 0;
  background-color: rgb(1, 0, 53);
  color: white;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  margin: 3rem 5%;
}

section > h2 {
  text-align: center;
}

section {
  margin: 6rem auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
